.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
}

.article-clean .intro {
  font-size: 16px;
  margin: 0 auto 30px;
}

.article-clean .intro h1 {
  font-size: 32px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: inherit;
  margin-top: 20px;
}

.article-clean .intro p {
  color: #929292;
  font-size: 12px;
}

.article-clean .intro p .by {
  font-style: italic;
}

.article-clean .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}

.article-clean .intro p a {
  color: #333;
  text-transform: uppercase;
  padding-left: 3px;
}

.article-clean .intro img {
  margin-top: 20px;
}

.article-clean .text p {
  margin-bottom: 20px;
  line-height: 1.45;
}

@media (min-width:768px) {
  .article-clean .text p {
    font-size: 16px;
  }
}

.article-clean .text h2 {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

@media (min-width:768px) {
  .article-clean .text h2 {
    font-size: 20px;
  }
}

.article-clean .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.article-clean .text figure img {
  margin-bottom: 12px;
  max-width: 100%;
}

.contact-clean {
  background: #f1f7fc;
  padding: 80px 0;
}

@media (max-width:767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

@media (max-width:767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}

.faq {
  background-color: #e4e4e4;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.on, .faq:hover {
  background-color: #e4e4e4;
}

.faq:after {
  content: '\2212';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.on:after {
  content: '\002B';
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faqelement {
  margin: auto;
  float: initial;
}

.btn-primary {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
}

.btn-primary:hover {
  color: rgb(255,255,255);
  background-color: #ff0000;
  border-color: #980000;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #e4e4e4;
  border-color: #e4e4e4;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
}

* {
  font-family: roboto;
}

.faq {
  background-color: #e4e4e4;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.on, .faq:hover {
  background-color: #e4e4e4;
}

.faq:after {
  content: '\2212';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.on:after {
  content: '\002B';
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faqelement {
  margin: auto;
  float: initial;
}

.btn-primary {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
}

.btn-primary:hover {
  color: rgb(99,133,205);
  background-color: #e4e4e4;
  border-color: #e4e4e4;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #e4e4e4;
  border-color: #e4e4e4;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
}

.features-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 50px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #1485ee;
  margin-top: 20px;
  margin-bottom: 35px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  text-align: center;
}

.features-clean {
  color: #313437;
  background-color: #fff;
  padding-bottom: 30px;
}

@media (max-width:767px) {
  .features-clean {
    padding-bottom: 10px;
  }
}

.features-clean p {
  color: #7d8285;
}

.features-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .features-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 60px;
}

@media (max-width:767px) {
  .features-clean .intro {
    margin-bottom: 40px;
  }
}

.features-clean .item {
  min-height: 100px;
  padding-left: 80px;
  margin-bottom: 40px;
}

@media (max-width:767px) {
  .features-clean .item {
    min-height: 0;
  }
}

.features-clean .item .name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: inherit;
}

.features-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.features-clean .item .icon {
  font-size: 40px;
  color: #1485ee;
  float: left;
  margin-left: -65px;
}

.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: center;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

.highlight-phone {
  color: #313437;
  background-color: #eef4f7;
  padding: 50px 0 55px;
  overflow: hidden;
}

@media (max-width:767px) {
  .highlight-phone {
    text-align: center;
  }
}

.highlight-phone p {
  color: #7d8285;
}

.highlight-phone h2 {
  font-weight: bold;
  margin-bottom: 35px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-phone .intro {
  font-size: 18px;
  max-width: 500px;
  line-height: 1.5;
}

@media (max-width:767px) {
  .highlight-phone .intro {
    max-width: none;
  }
}

.highlight-phone .intro p {
  margin-bottom: 35px;
}

.highlight-phone .intro .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
}

.highlight-phone .intro .btn:hover {
  opacity: 1;
}

.highlight-phone .intro .btn:active {
  transform: translateY(1px);
}

.highlight-phone .intro .btn-primary {
  background-color: #055ada;
  color: #fff;
}

.highlight-phone .iphone-mockup {
  position: relative;
  max-width: 260px;
  margin-top: -30px;
  margin-bottom: -230px;
  transform: rotate(-15deg);
}

.highlight-phone .iphone-mockup img.device {
  width: 100%;
  height: auto;
}

.highlight-phone .iphone-mockup .screen {
  position: absolute;
  width: 88%;
  height: 77%;
  top: 12%;
  border-radius: 2px;
  left: 6%;
  border: 1px solid #444;
  background-color: #aaa;
  overflow: hidden;
  background: url(screen-content-iphone-6.jpg);
  background-size: cover;
  background-position: center;
}

.highlight-phone .iphone-mockup .screen:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 70%;
  height: 140%;
  top: -12%;
  right: -60%;
  transform: rotate(-19deg);
  opacity: 0.2;
}

.search-form {
  margin: 40px 5px;
  font: normal 12px sans-serif;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.search-form div.input-group-addon {
  background: #fff;
  color: #80A3BD;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border: 1px solid #b6c3cd;
  border-right: 0;
}

.search-form .input-group input {
  background-color: #ffffff;
  box-shadow: none;
  color: #4E565C;
  outline: none;
  border: 1px solid #b6c3cd;
  border-right: 0;
  border-left: 0;
}

.search-form div.input-group-btn button {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background: #6caee0;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  border-color: #6caee0;
  outline: none;
  opacity: 0.9;
}

.search-form div.input-group-btn button:hover {
  opacity: 1;
}

.search-form div.input-group-btn button:focus:active {
  background-color: #6caee0;
  color: #ffffff;
  outline: none;
}

.projects-clean {
  color: #313437;
  background-color: #fff;
}

.projects-clean p {
  color: #7d8285;
}

.projects-clean h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .projects-clean h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.projects-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.projects-clean .intro p {
  margin-bottom: 0;
}

.projects-clean .projects {
  padding-bottom: 40px;
}

.projects-clean .item {
  text-align: center;
  padding-top: 50px;
  min-height: 425px;
}

.projects-clean .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.projects-clean .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 0;
}

.projects-horizontal {
  color: #313437;
  background-color: #fff;
}

.projects-horizontal p {
  color: #7d8285;
}

.projects-horizontal h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .projects-horizontal h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.projects-horizontal .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 10px;
}

.projects-horizontal .projects {
  padding-bottom: 40px;
}

.projects-horizontal .item {
  padding-top: 60px;
  min-height: 160px;
}

@media (max-width:767px) {
  .projects-horizontal .item {
    padding-top: 40px;
    min-height: 160px;
  }
}

.projects-horizontal .item .name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  color: inherit;
}

@media (max-width:991px) {
  .projects-horizontal .item .name {
    margin-top: 22px;
  }
}

.projects-horizontal .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.register-photo {
  background: #f1f7fc;
  padding: 80px 0;
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(meeting.jpg);
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register-photo form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register-photo form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background: #eb3b60;
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.simple-slider .swiper-slide {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height: 360px;
  }
}

.team-boxed {
  color: #313437;
  background-color: #eef4f7;
}

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-boxed .intro p {
  margin-bottom: 0;
}

.team-boxed .people {
  padding: 50px 0;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-boxed .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-boxed .item img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}

.team-grid {
  color: #313437;
  background-color: #fff;
}

.team-grid p {
  color: #7d8285;
}

.team-grid h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .team-grid h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.team-grid .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.team-grid .intro p {
  margin-bottom: 0;
}

.team-grid .people {
  padding: 50px 0;
}

.team-grid .item {
  margin-bottom: 30px;
}

.team-grid .item .box {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 280px;
  position: relative;
  overflow: hidden;
}

.team-grid .item .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31,148,255,0.75);
  transition: opacity 0.15s ease-in;
  opacity: 0;
  padding-top: 80px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.team-grid .item:hover .cover {
  opacity: 1;
}

.team-grid .item .name {
  font-weight: bold;
  margin-bottom: 8px;
}

.team-grid .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #bbd8fb;
  letter-spacing: 2px;
  font-size: 13px;
  margin-bottom: 20px;
}

.team-grid .social {
  font-size: 18px;
}

.team-grid .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-grid .social a:hover {
  opacity: 1;
}

